# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nolsxmozkavfzdfrtovt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vbHN4bW96a2F2ZnpkZnJ0b3Z0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMDYxOTgsImV4cCI6MjA5NDg4MjE5OH0.q2gGIsCgyyrHortw4DsuILj5YchI7uR2ENdufCaebxA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vbHN4bW96a2F2ZnpkZnJ0b3Z0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTMwNjE5OCwiZXhwIjoyMDk0ODgyMTk4fQ.Wk1UNAD5i8WpzFXQXQ-WDEhIR5MzUT0bp1GJOortXPA

# Deepseek (ELODIE)
DEEPSEEK_API_KEY=sk-3ad95dcbd3f542f097da47efa7bef008

# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# FedaPay
FEDAPAY_SECRET_KEY=
NEXT_PUBLIC_FEDAPAY_PUBLIC_KEY=
FEDAPAY_WEBHOOK_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=doon32lqo
CLOUDINARY_API_KEY=515483977396138
CLOUDINARY_API_SECRET=s03K2KMzgzeBJevhPOS-Hd5jXhI

# Resend (Email)
RESEND_API_KEY=re_97cRf4Nv_2W5K2QeGEsEFzbfmoPkUsXhR

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
